@import url(components/base/reset.css);
@import url(components/base/Variables.css);

body {
  font-family: 'Prata',serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}